{# templates/backoffice/admin.html.twig #}

{% extends "backoffice/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}

<h1>Bienvenue dans le back office</h1>

{% endblock %} {# main #}
