{# templates/backoffice/circuitform.html.twig #}

{# To be included for new / modify Circuit forms #}

{# Use bootsrap style widgets for the form #}
{% form_theme formulaire 'bootstrap_3_layout.html.twig' %}

<form action="#" method="post">
    {{ form_widget(formulaire) }}

    <input type="submit" name="submit" />
</form>
