{# templates/backoffice/circuitmodify.html.twig #}

{% extends "backoffice/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - Modify circuit{% endblock %}

{% block main %}

  <h1>Modify circuit</h1>

  {% include 'backoffice/circuitform.html.twig' %}

{% endblock %} {# main #}
